<html>
<body>
    <div ng-repeat="restaurent in $ctrl.validRestaurents">
    <div class="row background">
        <div class="col s12 m12">
            <div class="card col offset-m3 m6 s12 ">
                <div class="card-image">
                    <img class="r-card-image" src="img/r3.jpg">
                </div>
                <span class="card-title restaurant-name">{{restaurent.name}}</span>
                <div class="card-content">
                    <p>Famous for chinees food as well as thai  cusins.</p>
                </div>
                <div class="card-action">
                    <a href="#">Promotions</a>
                    <a href="#">Rewards</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>